*{
  @font-face: "Cormorant Garamond";
  font-family: "Cormorant Garamond", serif;
  
}

body{
  background-color: #d7faf2;
  color: black;
}
.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

.logo{
  width: 60px;
}
/* .cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }
   */

.navbar{
    width: 1920px;
    margin: 0;
    margin-left: -10px;
    padding: 15px;
    padding-left: 90px;
    font-size: 25px;
    box-shadow: 2px 2px 10px rgb(44, 44, 44);
}
.nav-link{
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:active{
  color: black;

}
.nav-link:hover{
  color:black;
}

.major-desktop{
    font-family: "Cormorant Garamond";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
}

.major-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
}
.text-1{
    width: 50%;
}
.text-1{
    font-family: "Cormorant Garamond";
    /* background-color: yellow; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    
}
.b1{
  margin-top: 0px;
  padding-top: 0px;
}

.img-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
img{
    width: 70%;
}

.t11{
  font-family: 'Cormorant Garamond';
  padding-top: 10px;
  color: rgb(53, 52, 52);
  font-size: 50px;
}
.t1{
    font-family: 'Cormorant Garamond';
    padding-top: 20px;
    color: rgb(53, 52, 52);
    text-align: center; 
    margin-top: 60px;
    text-transform: uppercase;
    
}

h1.t1{
    font-size: 50px;
}

h3.t1{
    font-size: 35px;
}

a{
    font-size: 35px;
}
.bl2{
  text-align: center;
  justify-content: center;
  size: 30px;
}
.d2{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

}

.about-us{
  display: flex;
  flex-direction: column;
}
.img2{
  width: 400px;
  padding: 20px;
  margin: 0px;
}

.t2{
  font-size: 28px;
  text-align: right;
}

.l{
  text-align: left;
  margin-right: 0px;
  margin-left: 30px;
}

.r{
  text-align: right;
  margin-left: 30px;
  margin-right: 30px;
}
/* 
section#partners input[type="radio"]:checked + .partners-label{
  border: solid 1px #ffffff;
  background-color: #ffffff;
}
section#partners input[type="radio"]:checked ~ .item{
  transform: translateX(100%);
}
section#partners input[type="radio"]:checked + .partners-label + .item{
  transform: translateX(0);
  opacity: 1;
}
section#partners .partners-label{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px #e0e0e0;
  cursor: pointer;
  margin: 6px !important;
  transition: .5s ease-in-out;
}
   */

   form.form-example {
    display: table;
  }
  
  div.form-example {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
  .form{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 30px;
    font-size: 20px;
  }

/* .buttom{
  margin-left: 500px;
} */

  .mk{
    display: flex;
    flex-direction: row;
  }

  img.mkk{
    width: 300px;
    margin: 50px;
  }

  .tt{
    margin-top: 90px;
    
  }

  h3{
    font-family: 'Cormorant Garamond';
    font-size: 40px;
  }

  p.mkl{
    font-size: 25px;
  }

.ww1{
    display: flex;
    flex-direction: row;
  }

.ww1-1{
  display: flex;
  flex-direction: row;
}
.ww1-5{
  display: flex;
  flex-direction: row;
  }

.ww-t{
  font-family: 'Cormorant Garamond';
  font-size: 35px;

}

  .why-we-text-card{
    font-size: 20px;
  }

  /* .chifra{
    font-family: 'Cormorant Garamond';
    font-size: 75px;
    margin-left: 70px;
    margin-right: 70px;
    text-shadow: 0px 0px 20px white;
    margin-top: 50px;
  
  } */

  .ww-block-right{
    width: 500px;
    text-align: right;
    /* margin-left: 30px; */
    margin-right: 70px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 20px 20px 20px white;
    box-shadow: -10px -10px 20px white;
    border-radius: 0px;
  }

  .ww-block-left{
    width: 500px;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 30px; */
    box-shadow: 10px -10px 20px white;
    border-radius: 0px;
  }

  .ww-block-center{
    width: 500px;
    text-align: center;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 30px; */
    box-shadow: 0px 0px 20px white;
    border-radius: 0px;
  }
  .ww1-c{
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-left: 320px;
  }
/* .n1{
  margin-right: 80px;
}
.n5{
  margin-left: 80px;
} */